on: [push, pull_request]

name: Unit Tests

jobs:
  unit-tests:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release'}
          - {os: macOS-latest,   r: 'release'}
          - {os: ubuntu-latest,  r: 'release'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true

      - name: Install libarchive on macOS
        if: runner.os == 'macOS'
        run: brew install libarchive

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::testthat, any::devtools
          needs: check

      - name: Run Unit Tests
        run: |
          library(testthat)
          library(devtools)
          
          # Load package
          devtools::load_all()
          
          # Run tests
          test_results <- devtools::test()
          
          # Check for failures
          if (any(as.data.frame(test_results)$failed > 0)) {
            quit(save = "no", status = 1)
          }
        shell: Rscript {0}
